@import 'config';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,html {
  background-color: $light-color;
  font-family: $font-stack;
  line-height: 1.6;
  color: $primary-color;
}



a{
  text-decoration: none;
}

