@import 'config';
@import 'utilities';
@import 'buttons';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  @include set-background($light-color);
  font-family: $font-stack;
  line-height: 1.6;
  color: $secondary-color;
}

.increase {
  margin-right: 15rem;

  @media screen and (max-width: 768px) {
    margin-right: 0;
  }
}

a {
  text-decoration: none;
  color: set-text-color($light-color);
}

#app {
  transition: margin-right 0.5s;
}

.view {
  min-height: calc(100vh - (57.6px + 40.9px + 64px + 64px));
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__group {
    display: flex;
    flex-direction: column;
  }

  &__label {
    margin-bottom: 0.5rem;
  }

  &__input {
    padding: 0.2rem;
    border: 0.1rem solid transparent;
    border-bottom: 0.1rem solid #333;
    @include set-background($light-color);
    outline: none;
  }
  &__error {
    color: red;
  }
}

.checkout {
  display: flex;
  justify-content: center;

  &__summary {
    display: flex;
    flex-direction: column;

    &-item {
      padding: 0.2rem 0;
      display: flex;
      justify-content: space-between;
      font-size: 0.8rem;
    }
    &-item__sum {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0;
      font-weight: 600;

      border-top: 0.1rem solid #333;
    }
  }
}

@import 'mobile';
