@import 'config';
@import 'utilities';

.section {
  &__wrap {
    &--outer {
      display: flex;
      justify-content: center;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
    }
    &--inner {
      display: flex;
      flex-direction: column;
      padding: 0 3rem;

      @media screen and (max-width: 768px) {
        padding: 0;
      }
    }
  }

  &__item {
    padding: 0.2rem 0;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
  }

  &__item__sum {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    font-weight: 600;
    border-top: 0.1rem solid #333;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}
