@import '../../scss/config';
@import '../../scss/utilities';

.orderdetails {
  &__product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
  }
  &__productName {
    display: flex;
    align-items: center;
    width: 50%;

    img {
      width: 5rem;
    }
  }
}
