$font-stack: Arial, Helvetica, sans-serif;
$light-color: #f4f4f4;
$primary-color: pink;
$secondary-color: rgb(185, 82, 100);

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,html {
  background-color: $light-color;
  font-family: $font-stack;
  line-height: 1.6;
}
