@import '../../scss/config';
@import '../../scss/utilities';

.navbar {
  @include set-background($light-color);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    display: flex;
    list-style-type: none;
  }

  li {
    padding: 1rem;
  }

  a {
    color: set-text-color($light-color);

    &:hover {
      color: $secondary-color;
    }
  }

  .link {
    &__active {
      color: $secondary-color;
      border-bottom: 0.1rem solid $secondary-color;
    }

    &__logout {
      cursor: pointer;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  .fas {
    margin-right: 0.5rem;
  }
}

.open {
  width: 15rem;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
