@import "../../scss/config";

.navbar {
  background-color: $primary-color;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    display: flex;
    list-style-type: none;
  }

  li {
    padding: 1rem;
  }

  a {
    color: #fff;

    &:hover{
      color: #eee;
    }
  }
  .link-active {
    color: $secondary-color ;
    border-bottom: 0.1rem solid $secondary-color;
  }

  .cart {
    color: $secondary-color;
    i {
      cursor: pointer;
    }
    .quantity {
      margin-left: 0.5rem;
    }
  }
}

.shopping-cart-side {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index:1;
  top: 0;
  right: 0;
  background-color: $secondary-color;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3.5rem;
}
